{
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "modules": true,
  },
  "plugins": [],

  "env": {
    "node": true,
    "es6": true,
  },

  "rules": {
    "no-console": 0,
    "comma-dangle": 0
  }
}
